.profile-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  background-image: url('../pieces/background.jpg');
  /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-page-text {
  top: 10%;
  left: 35%;
  width: 30%;
  height: 10%;
  position: absolute;
  font-size: 400%;
  color: white;
}

.profile-page-textinput {
  top: 30%;
  left: 40%;
  width: 15%;
  height: 5%;
  position: absolute;
}

.profile-page-textinput1 {
  top: 51%;
  left: 40%;
  width: 15%;
  height: 5%;
  position: absolute;
}

.profile-page-textinput2 {
  top: 44%;
  left: 40%;
  width: 15%;
  height: 5%;
  position: absolute;
}

.profile-page-textinput3 {
  top: 37%;
  left: 40%;
  width: 15%;
  height: 5%;
  position: absolute;
}

.profile-page-button {
  top: 60%;
  left: 45%;
  width: 5%;
  height: 4%;
  position: absolute;
  font-size: 100%;
}

.profile-page-navbar-interactive {
  top: 0px;
  left: 0px;
  color: #ffffff;
  width: 100%;
  height: 10%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #080000;
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.profile-page-image {
  height: 2rem;
}

.profile-page-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.profile-page-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.profile-page-play-against-ai {
  margin-left: var(--dl-space-space-twounits);
}

.profile-page-learning-page {
  margin-left: var(--dl-space-space-twounits);
}

.profile-page-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.profile-page-log-out {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}

.profile-page-burger-menu {
  display: none;
}

.profile-page-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.profile-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.profile-page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profile-page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.profile-page-logo {
  height: 2rem;
}

.profile-page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-page-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.profile-page-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.profile-page-text11 {
  margin-bottom: var(--dl-space-space-unit);
}

.profile-page-text12 {
  margin-bottom: var(--dl-space-space-unit);
}

.profile-page-text13 {
  margin-bottom: var(--dl-space-space-unit);
}

.profile-page-text14 {
  margin-bottom: var(--dl-space-space-unit);
}

.profile-page-text15 {
  margin-bottom: var(--dl-space-space-unit);
}

.profile-page-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.profile-page-login {
  margin-right: var(--dl-space-space-twounits);
}

.profile-page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.profile-page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.profile-page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

@media(max-width: 767px) {
  .profile-page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .profile-page-burger-menu {
    align-items: center;
    justify-content: center;
  }

  .profile-page-text11 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .profile-page-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .profile-page-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .profile-page-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .profile-page-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

@media(max-width: 479px) {
  .profile-page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }

  .profile-page-desktop-menu {
    display: none;
  }

  .profile-page-burger-menu {
    display: flex;
  }

  .profile-page-mobile-menu {
    padding: 16px;
  }
}
.collapsible {
  position: absolute;
  right: 2%;
  top: 2%;
  background-color: black;
  height: 45%;
  width: 2%;
  font-size: 70%;
}


.content {
  /* padding: ; */
  position: absolute;
  top: 60%;
  right: 2%;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#profilePic{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
}