/* Main container styling */
.log-in-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0c0c0c;
  background-image: url('../pieces/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  box-sizing: border-box;
}

/* Input styling */
.log-in-textinput,
.log-in-textinput1 {
  width: 80%;
  max-width: 400px;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
}

.password-container {
  width: 80%;
  max-width: 400px;
  margin: 10px 0;
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 50px;
}

.password-container .show-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Button styling */
.log-in-button,
.log-in-button1 {
  width: 80%;
  max-width: 400px;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.log-in-button:hover,
.log-in-button1:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Heading styling */
.log-in-log-in {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
}

/* Subtext styling */
.log-in-text09 {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.log-in-text09 span {
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.log-in-text09 span:hover {
  color: #45a049;
}
